.textosGeral {
	font-family: Verdana;
	font-size: small;
	color: #000000;
}

.textosTitulos {
	font-family: Verdana;
	font-weight: bold;
	font-size: small;
	color: #DD8312;
	background-color: #EBFCFF;
	text-align: left;
}

.selectFormulario{
	font-family: Verdana;
	font-size: small;
	color: #000000;
}